@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
body{
    margin: 0;
}
.main-picture{
    background-image: url(computer-main.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    
}
.nav-items{
    display: flex;
    justify-content: space-around;
    padding:30px;
    font-size: 20px;
}
.main-picture-content{
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
button{
    color: white;
    background-color: #00D08E;
    padding: 8px 20px;
    border: none;
    border-radius: 7px;
}
.main-div{
    display: flex;
}
.main-div-pic{
    width: 50%;
    background-image: url(./image/tablet.jpg);
    background-size: 100%;
    height: 300px;
    background-position: center;
}
.main-div-content{
    width: 50%;

}
.main-div-content ul{
    list-style:none;
}
.main-div-content ul li{
    padding: 10px;
}
.main-div-content ul li i{
color: #00D08E;
font-size: 18px;
}
.main-div-content h2,p{
    padding-left: 50px;
}
.second-section{
    display: flex;
}
.second-section-content{
    width: 50%;

}
.second-section-content h2{
    text-align: center;
    padding-bottom:30px;
}
.picture-two{
    width: 50%;
    background-image: url(./image/pen.jpg);
    background-size: 100%;
    height: 450px;
    background-position: center;

}
.first-line{
    display: flex;
    flex-wrap: wrap;
    
}


.all img{
    width: 80px;
    background-repeat: no-repeat;
    margin: 10px 70px;
    background-position: center;

    
}
.all p {
    color:#00D08E;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 0;
}
footer{
    background-color: #B2F1DD;
}
footer h2{
    text-align: center;
    padding-top:20px;
}
.footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    
}
.footer-flex div{
    width: 25%;
    
}
.footer-flex div p{
    padding-left: 0;
    text-align: center;
}
.footer-flex-two{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}
.footer-flex-two div p{
    padding-left: 0;
    text-align: center;
}
.footer-flex-two div{
    width: 25%;
    
}
.footer-p{
    text-align: center;
    margin-bottom: 0;
  padding: 20px;
}
span{
    font-weight: bold;
}
